<div class="login-container">
  <section class="login-card">
    <div class="card-header">
      <h1>Recuperar Contraseña</h1>
      <p>Ingrese su correo electrónico para recibir un enlace</p>
    </div>
    <div class="card-content">
      @if (!sent()) {
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <div class="form-field full-width">
            <label>Email</label>
            <input type="email" formControlName="email">
            <small *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">Ingrese un email válido</small>
          </div>

          <div class="actions">
            <button type="submit" [disabled]="forgotForm.invalid || isLoading()" class="full-width">
              {{ isLoading() ? 'Enviando...' : 'Enviar Enlace' }}
            </button>
          </div>
        </form>
      } @else {
        <div class="success-message">
          <span class="icon">✔️</span>
          <p>Se han enviado las instrucciones a su correo electrónico si este se encuentra registrado.</p>
        </div>
      }
    </div>
    <footer class="links">
      <a routerLink="/auth/login">Volver al Inicio de Sesión</a>
    </footer>
  </section>
</div>
