.force-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--mat-sys-surface-container-highest);
}

.force-card {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.actions {
  margin-top: 20px;
}

mat-card-header {
  margin-bottom: 20px;
  text-align: center;
}
